<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#home">YI</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about"   (click)="toggleNavBar()">{{ "NAV_ABOUT" | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work"  (click)="toggleNavBar()">{{ "NAV_WORK" | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#contact"  (click)="toggleNavBar()">{{ "NAV_CONTACT" | translate }}</a>
      </li>
      <li class="nav-item">
        <button mat-button  aria-label="Example icon-button with a menu" (click)="switchLang()">
            <fa-icon class="globIcon" [icon]="faGlobe"></fa-icon>
            <span >&nbsp;{{ selectedLang === "en" ? "  Japanese" : "  English"}}</span>
        </button>
      </li>
      <li>
        <hr/>
      </li>
    </ul>
  </div>
</nav>
