.container-fluid {
    background-color: #e9e9e9;
    color: rgb(33, 37, 41);

    padding: 2em;
    min-height: 100vh;
    .content {
        margin: 0 auto;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        .content__header {
          margin: 4em auto 1em;
          h1:after {
            background: none repeat scroll 0 0 #ff4f4b;
            content: "";
            display: block;
            height: 3px;
            position: relative;
            width: 1.5em;
          }
        }

        .content__description{
            p{
                margin-top: 3em;
            }
        }
    }
}