/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 18px;
}

* {
  font-family: "Nunito", sans-serif !important;
}
