<div class="container-fluid">
  <section class="content">
    <div class="leftDiv">
      <div class="content__name">{{ "HOME.NAME" | translate }}</div>
      <div class="content__title">
        <h1>{{ "HOME.TITLE" | translate }}</h1>
      </div>
      <div class="content__description">
        {{ "HOME.DESCRIPTION" | translate }}
      </div>
    </div>
    <div class="rightDiv">
      <img class="designImg" src="../../assets/pattern1.png" />
      <!-- <div class="content__design">
        <div class="whiteRect"></div>
        <div class="stripe">
          <img src="../../assets/pattern1.png" width="260px" />
        </div>
      </div> -->
    </div>
  </section>
</div>
